@import "tailwindcss";
@source "../../../libs/ui-components";
@config "../../../libs/ui-components/tailwind.config.ts";
@import "ui-components/styles";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

